.offers3 {
    width: 100%;
    background: url('../../Images/Offers3Bg.jpg') no-repeat right;
    background-size: 100% 270px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6rem 1rem;
    .container {
        p {
            @media (max-width:768px) {
                font-size: 1rem;
            }
        }
    }
    @media (min-width:768px) {
        height: 87.5vh;
        background-size: 100%;
    }
}